body {
  margin: 0;
  background: black;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.digital_clock {
  color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid rgb(248, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  animation: rotateGradient 6s linear infinite; /* Longer duration */
}

@keyframes rotateGradient {
  0% {
    background: linear-gradient(0deg, #a54848, #010306);
  }
  25% {
    background: linear-gradient(90deg, #a54848, #010306);
  }
  50% {
    background: linear-gradient(180deg, #a54848, #010306);
  }
  75% {
    background: linear-gradient(270deg, #a54848, #010306);
  }
  100% {
    background: linear-gradient(360deg, #a54848, #010306);
  }
}
#formatHours {
  color: #fff;

  border: none;
  background: none;
  font-size: 1.125rem;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: underline;
}
button:focus {
  outline: none;
}

@media screen and (max-width: 340px) {
  body {
    background-color: #6470c6;
  }
  .digital_clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(357deg, #a54848, #010306);
  }
}
